allure-pytest==2.15.3
allure-python-commons==2.15.3
attrs==26.1.0
Faker==40.15.0
Flask==3.1.3
mysql-connector-python==9.4.0
playwright==1.56.0
pytest==8.4.2
pytest-playwright==0.7.1
pytest-xdist==3.8.0
requests==2.32.5
jsonschema==4.26.0
pytest-html==4.1.1